{% extends "base.html" %}

{% block page-title %}密码更新{% end %}

{% block dir-parent %}账户管理{% end %}
{% block dir-leaf %}密码更新{% end %}

{% block content %}

<div class="row-fluid">
        <a href="#tablewidget" class="block-heading" data-toggle="collapse">密码更新</a>
        <div id="tablewidget" class="block-body collapse in">
            <div style="width:285px;">
                <br/>
                <div>
                      老的密码: <input type="password" name="old_password" />
                </div>
                <div>
                      新的密码: <input type="password" name="new_password" />
                </div>
                <div>
                      确认密码: <input type="password" name="confirm_new_password" />
                </div>
                <div style="text-align:right;">
                      <button type="button" class="btn btn-default btn-sm " onclick="update_password()">更新密码</button>
                </div>
            </div>
        </div>
</div>

{% end %}

{% block js %}

function update_password(){
    old_password = $("input[name='old_password']").val();
    new_password = $("input[name='new_password']").val();
    confirm_new_password = $("input[name='confirm_new_password']").val();
    if (new_password != confirm_new_password) {
        alert("新的密码不同！");
        return;
    }

    $.post("/accountupdatepassword.html", {old_password: old_password, new_password: new_password})
          .done(function() {
            alert( "更新成功" );
          })
          .fail(function() {
            alert( "用户名或密码不正确！" );
          });
}

{% end %}