{% extends "base.html" %}

{% block page-title %}绑定关系{% end %}

{% block dir-parent %}自动修复{% end %}
{% block dir-leaf %}绑定关系{% end %}

{% block content %}

<div class="row-fluid">
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>提示:</strong> “操作”的下拉框内容为自动修复脚本的名称，具体的修复说明可以在“自动修复”->“修复脚本”中查看。绑定后告警事件会首先由脚本自动尝试处理，修复失败才会告警。
    </div>
    <div class="block">
        <a href="#tablewidget" class="block-heading" data-toggle="collapse">绑定关系</a>
        <div id="tablewidget" class="block-body collapse in">
            <div class="stat-widget-container">
                <table class="table table-hover table-striped table-bordered">
                    <tr>
                        <th>告警项</th>
                        <th>绑定脚本</th>
                        <th>绑定者</th>
                        <th>绑定时间</th>
                        <th>操作</th>
                    </tr>
                    {% for trigger in triggers %}
                        <tr>
                            <td align="left">
                                {{ trigger }}
                            </td>
                            <td align="left">
                                {% if trigger in bindings %}
                                    {{ bindings[trigger]["auto_fix_script"] }}
                                {% else %}
                                    -
                                {% end %}
                            </td>
                            <td align="left">
                                {% if trigger in bindings %}
                                    {{ bindings[trigger]["change_user"] }}
                                {% else %}
                                    -
                                {% end %}
                            </td>
                            <td align="left">
                                {% if trigger in bindings %}
                                    {{ bindings[trigger]["change_date"] }}
                                {% else %}
                                    -
                                {% end %}
                            </td>
                            <td align="left">
                                <select style="margin:1px;height:20px;width:100px;font-size:13px;" id="select_{{ trigger }}">
                                         <option value ="cancel">解绑</option>
                                    {% for script in scripts %}
                                         <option value ="{{  script }}">{{  script }}</option>
                                    {% end %}
                                </select>
                                <button type="button" name="update_autofix_trigger" class="btn btn-default btn-sm btn-warning" onclick="do_bind('{{ trigger }}', 'select_{{ trigger }}')">更新</button>
                            </td>
                        </tr>
                    {% end %}
                </table>
            </div>
        </div>
    </div>
</div>

{% end %}

{% block js %}
    
    function do_bind(trigger, select_id){
        v = $("#" + select_id).val();
        t = trigger;
        $.post("/autofixbinding.html", {t: t, v: v})
          .done(function() {
            alert( "更新成功" );
          })
          .fail(function() {
            alert( "更新失败" );
          })
          .always(function() {
            location.reload();
        });
    }

{% end %}