{% extends "base.html" %}

{% block page-title %}修复脚本{% end %}

{% block dir-parent %}自动修复{% end %}
{% block dir-leaf %}修复脚本{% end %}

{% block content %}

<div class="row-fluid">
        <a href="#tablewidget" class="block-heading" data-toggle="collapse">脚本列表</a>
        <div id="tablewidget" class="block-body collapse in">
            <div class="stat-widget-container">
                <table class="table table-hover">
                    <tr>
                        <th>脚本名</th>
                        <th>说明</th>
                        <th>作者</th>
                        <th>版本</th>
                        <th>创建时间</th>
                    </tr>
                    {% for name, script in scripts.items() %}
                        <tr>
                            <td align="left">
                                {{ name }}
                            </td>
                            <td align="left">
                                {{ script["description"] }}
                            </td>
                            <td align="left">
                                {{ script["author"] }}
                            </td>
                            <td align="left">
                                {{ script["version"] }}
                            </td>
                            <td align="left">
                                {{ script["create_date"] }}
                            </td>
                        </tr>
                    {% end %}
                </table>
            </div>
        </div>
</div>

{% end %}

{% block js %}

function reload_page() {
    location.reload();
}

$(function(){
    setInterval("reload_page()", 300000);
});

{% end %}