{% extends "base.html" %}

{% block page-title %}我的订阅{% end %}

{% block dir-parent %}订阅管理{% end %}
{% block dir-leaf %}我的订阅{% end %}

{% block content %}

<div class="row-fluid">

    <div class="block">
        <a href="#page-stats" class="block-heading" data-toggle="collapse">订阅信息</a>
        <div id="page-stats" class="block-body collapse in">
            <div class="stat-widget-container">
                <table class="table table-hover">
                    <tr>
                        <th>告警项</th>
                        <th>说明</th>
                        <th>主机</th>
                    </tr>
                    {% for trigger_name in triggers_subscribed %}
                        {% if trigger_name in triggers_info %}
                            <tr {% if triggers_info[trigger_name]["priority"] == "0" %}
                                    class="info"
                                {% elif triggers_info[trigger_name]["priority"] == "1" %}
                                    class="info"
                                {% elif triggers_info[trigger_name]["priority"] == "2" %}
                                    class="warning"
                                {% elif triggers_info[trigger_name]["priority"] == "3" %}
                                    class="warning"
                                {% elif triggers_info[trigger_name]["priority"] == "4" %}
                                    class="error"
                                {% else %}
                                    class="error"
                                {% end %} >
                                <td align="left">
                                    {{ triggers_info[trigger_name]["name"] }}
                                </td>
                                <td align="left">
                                    {{ triggers_info[trigger_name]["comments"] }}
                                </td>
                                <td>
                                    全部
                                </td>
                            </tr>
                        {% end %}
                    {% end %}
                </table>
            </div>
        </div>
    </div>
</div>

{% end %}